/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.header {
    display: inline-block;
    width: 100%;
    background-color: var( --white);

}
.hero-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);

}
.about-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);

}
.skill-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);

}
.services-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);
    
}
.portfolio-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);
    
}
.testimonial-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);
    
}
.blog-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);
    
}
.contact-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);
    
}

.footer-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);
    
}

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* ABOUT */

/************************************************************/

/************************************************************/
/* SKILL */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* PORTFOLIO */

/************************************************************/

/************************************************************/
/* TESTIMONIAL */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* CONTACT */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
