/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.header {
    display: inline-block;
    width: 100%;
    background-color: var( --white);

}
.hero-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);

}
.about-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);

}
.skill-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);

}
.services-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);
    
}
.portfolio-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);
    
}
.testimonial-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);
    
}
.blog-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);
    
}
.contact-container {
    display: inline-block;
    width: 100%;
    background-color: var( --white);
    
}

.footer-container {
    display: inline-block;
    width: 100%;
    background-color: var( --light);
    
}

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

.head-container {
    display: inline-block;
    /* text-align: left; */
}
.nav-bar {
    display: flex;
    text-align: center;
}
.navmeniu {
/* display: inline-block; */
width: calc(100% / 8);
float: left;
padding: 0 20px;
text-align: center;
}
/************************************************************/
/* ABOUT */

/************************************************************/

/************************************************************/
/* SKILL */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/
.service {
    display: inline-block;
    width: calc(100% / 3);
    float: left;
    padding: 20px;
    text-align: center;
}
    .service > i {
        display: inline-block;
        font-size: 50px;
        line-height: 50px;
        color: var(--gray-dark);
    }
    .service > h3 {
        display: inline-block;
        width: 100%;
        margin: 10px 0;
        font-size: 20px;
        line-height: 20px;
    }
    .service > p {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
    }

/************************************************************/
/* PORTFOLIO */

/************************************************************/

/************************************************************/
/* TESTIMONIAL */

/************************************************************/

/************************************************************/
/* BLOG */

/************************************************************/

/************************************************************/
/* CONTACT */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
