#p_img{
    display: block;
    width: 100%;

}
    #p_img>  img {
    display: inline-block;
    float: left;
    width: calc(100% /3);
    height: auto;
    padding: 0 15px;
    margin: 15px 0;
    
  

    }
    .img_filter{
        margin: 0 20px;
        text-decoration: none;
    }
   
    