#p_img{
    display: inline-block;

}
    #p_img>  img{
    display: inline-block;
    /* float: left; */
    width:300px;
    font-size: 500px;
    height: auto;
    padding: 0 15px;
    margin: 20px;
  

    }
    .img_filter{
        margin: 0 20px;
        text-decoration: none;
    }
    