.header {
    display: inline-block;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    min-height: 70px;
    max-height: 10vh;
    padding: 15px 0;  
    background-color: var( --white);
    z-index: 9;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.05)
    
}
.header> .row{
    display: inline-block;
    position: relative;
    

}
#navbar{
    display: block;
    margin: 0 30px;
    position: relative;

}
.logo {
    display: inline-block;
    float: left;
}
nav{
    display: inline-block;
    float: right;
    position: relative;
    /* position: absolute; */
    /* width: 100%; */
}


 nav > .navlink {
    display: inline-block;                  
    margin: 0 15px;
    float: left;
    color: #fff;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
 }
 nav> .navlink::after {
     display: inline-block;
     content: '';
     height: 1px;
     position: absolute;
     left: 0;
     right: 0;
     bottom: 0;
     background-color:#ffb32f;
 }
    
.navlink:hover{
    color:#ffb32f;
    
        
    }

    button>i.fa-bars{
        display: inline-block;
       
        
           
    }