.header {
    display: inline-block;
    position: fixed;
    width: 100%;
    min-height: 72px;
    padding: 15px 0;  
    background-color: var( --white);
    z-index: 9;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.05)
    
}
.header> .row{
    padding-left: 0;
    width: 1180px;
    margin-left: 19%;
    margin-right: 20%;
    /* position: fixed; */

}
    nav{
    display: inline-block;
    float: right;
    /* width: 100%; */
    }
    .navlink {
            display: inline-block;                  
            padding: 0 20px;
            float: left;
            text-decoration: none;
            color: #fff;
            line-height: 32px;
            text-transform: uppercase;


    }
    .navlink:hover{
        color:#ffb32f;
    }