.list{
    display: grid;
    grid-template-columns: repeat(7, calc(100% /2));
    /* width: 50%; */
}
.testimonial{
    display: inline-block;
    /* width: 45%; */
    /* min-width: 40%; */
    padding: 10px 30px;
    /* height: 30vh; */
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);   
    margin: 30px 10px;
    position: relative;

}
/* @media(max-width: 900px){
    .client{
        display: inline-block;
    width: calc(90% - 150px);
    }
} */
    

         .testimonial > img{
            display: block;
            /* transform: translate(0px 0px -50px 0px); */
            bottom: 210px;
            position:absolute;
            top: -50px;
            float: left;
            /* z-index: 1; */
            overflow: visible;
        }

        .testimonial > .icon {
            display: inline-block;
            color: orange;
            position: absolute;
            top: 50px;
            left: 30px;    
            margin-top: 20px;
            margin-bottom: 20px;    
        }

    .testimonial > .title {
    display: inline-block;
    text-align: left;
    margin-top: 80px;
    padding-bottom: 20px;
    width: 100%;
}

.description {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    color: grey;
    padding-bottom: 10px;
    /* margin-top: 10px; */
    font-family: sans-serif;
}
