.test-row{
    display: inline-block;
}


.clients{
    display: grid;
    grid-template-columns: repeat(7, 400px);
    width:400% !important;
    float: left;
    column-gap: 20px;
    
}
.client{
    display: inline-block;
    width: 100%;
    /* min-width: 40%; */
    padding: 10px 30px;
    /* height: 30vh; */
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);   
    margin: 30px 10px;
    position: relative;

}


         .client > img{
            display: block;
            bottom: 210px;
            position:absolute;
            top: -50px;
            float: left;
            /* z-index: 1; */
            overflow: visible;
        }

       .client > .icon {
            display: inline-block;
            color: orange;
            position: absolute;
            top: 50px;
            left: 30px;    
            margin-top: 20px;
            margin-bottom: 20px;    
        }

.client > .title {
    display: inline-block;
    text-align: left;
    margin-top: 80px;
    padding-bottom: 20px;
    width: 100%;
}

.description {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    color: grey;
    padding-bottom: 10px;
    /* margin-top: 10px; */
    font-family: sans-serif;
}
